<div class="container">
      <div class="card-panel white">
        <div class='form-container'>
          <form class="col s12">
            <div class="form-group">
              <h2 class='red-text text-lighten-1'> Nueva prenda </h2>
              <div class="row">
                <div class="input-field col s12">
                  <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" [(ngModel)]="newArticle.name" name="name" required />
                  <label> Nombre* </label>
                </div>
              </div>

              <div class="row">
                <select materialize='material_select' class="form-control col s6" id="season" [(ngModel)]="newArticle.season" name="season">
                  <option value="" disabled selected>Elige temporada</option>
                  <option *ngFor="let s of season" [value]="s">{{s}}</option>
                </select>
                <select materialize='material_select' class="form-control col s6" id="color" [(ngModel)]="newArticle.colorsRange" name="color">
                  <option value="" disabled selected>Elige gama de color</option>
                  <option *ngFor="let c of color" [value]="c">{{c}}</option>
                </select>
              </div>

              <div class="row">
                <select materialize='material_select' class="form-control col s6" id="style" [(ngModel)]="newArticle.style" name="style">
                  <option value="" disabled selected>Elige estilo </option>
                  <option *ngFor="let s of style" [value]="s">{{s}}</option>
                </select>
                <select materialize='material_select' class="form-control col s6" id="category" [(ngModel)]="newArticle.category" name="category">
                  <option value="" disabled selected>Elige tipo de prenda </option>
                  <option *ngFor="let c of category" [value]="c">{{c}}</option>
                </select>
              </div>

              <div class="input-field col s12">
                <label> Notas </label>
                <input type="text" [(ngModel)]="newArticle.notes" name="notes" />
              </div>

              <button (click)="submit()" class="waves-effect waves-light btn blue-grey btn-margin">
                guardar
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
