<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/><br/><br />
      <h1 class="header center  text-lighten-2">¿Qué me llevo?</h1>
      <div class="row center">
        <h4 class="header col s12 p-image">KeMeYeBo app organiza tu ropa</h4>
      </div>
      <div class="row center">
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <img src="https://trello-attachments.s3.amazonaws.com/59dd13defb8d297e549f44ba/1200x900/cdcdbe72bcb4043a7ce1b8f51e0b8205/%C2%BFQu%C3%A9-me-pongo-hoy-Mejor-elige-tu-ropa-el-d%C3%ADa-anterior-SL1.jpg" alt="">
  </div>
</div>

<div class="wrapper-white white">
  <div class="container ">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_see</i></h2>
            <h5 class="center">Armario</h5>
            <p class="light">
              Incorpora fácilmente todas tus prendas. Captura la imágen y clasifica
              la prenda ¡de forma intuitiva con dos clicks!
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">¿Qué me pongo?</h5>
            <p class="light">
              Podrás ver cómodamente desde tu móvil toda la ropa de la que dispones
              de un vistazo, ¡facilitando la elección y la combinación de prendas!
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_travel</i></h2>
            <h5 class="center">¿Qué me llevo?</h5>
            <p class="light">
              Planifica tu maleta con rapidez. Se acabó rebuscar en cajones para
              encontrar la inspiración. ¡Si sabes lo que tienes, sabes qué llevarte!
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2 class="header col s12 ">¿La maleta es un problema?</h2>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="https://trello-attachments.s3.amazonaws.com/59d28f5f79626218b1a21b1d/59dd13defb8d297e549f44ba/01c61250fbcb65078d6bf586727886f1/como-meter-todo-en-una-maleta-de-mano.jpg" alt="">
  </div>
</div>

<div class="wrapper-white white">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>La idea</h4>
          <p class="left-align light">Cuando me dijeron que debía elegir un tema
             para el proyecto final del Web Development Bootcamp en Ironhack no
             dudé ni un momento. La idea de esta aplicación ronda por mi cabeza
             desde hace mucho tiempo. Surge de una necesidad personal, y siempre
             tuve claro que cuando pudiera desarrollar una app propia buscaría
             una solución para facilitar la planificación de la maleta.
             Por el momento no está concluida, pero todo llegará!!</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¡Dedica tu tiempo a lo que de verdad importa!</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="https://trello-attachments.s3.amazonaws.com/59d28f5f79626218b1a21b1d/59dd13defb8d297e549f44ba/fcb67388e34ca3f22641ce973dd2f0e5/maletas.jpg" alt="">
  </div>
</div>

<footer class="page-footer red lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sobre mí</h5>
        <p class="grey-text text-lighten-4">Full Stack Web Developer, en constante aprendizaje...
          Soy una persona responsable, altamente comprometida, con una fuerte dedicación, pasión por la programación y muchas ganas de crecer profesionalmente.
          Decidí dar un giro a mi carrera profesional y no dejo de formarme para cumplir mi sueño..</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contacta</h5>
        <ul>
          <li><a class="white-text" href="mailto:raquel500c@gmail.com">Email</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/raquel-roda/">Linkedin</a></li>
          <li><a class="white-text" href="https://github.com/raquel500c/kemeyebo-app">Git Hub</a></li>

        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="mailto:raquel500c@gmail.com">Raquel500c</a>
    </div>
  </div>
</footer>
