<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/><br/><br />
      <h1 class="header center  text-lighten-2">¿Problemas con la maleta?</h1>
      <div class="row center">
        <h5 class="header col s12 ">KeMeYeBo app organiza tu ropa</h5>
      </div>
      <div class="row center">

      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="https://trello-attachments.s3.amazonaws.com/59d28f5f79626218b1a21b1d/59dd13defb8d297e549f44ba/01c61250fbcb65078d6bf586727886f1/como-meter-todo-en-una-maleta-de-mano.jpg" alt=""></div>
</div>

<div class="wrapper-white white">
  <div class="container ">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_see</i></h2>
            <h5 class="center">¿Qué tengo?</h5>

            <p class="light">Hicimos la mayor parte del trabajo pesado para que usted pueda proporcionar un estilo por defecto que incorpora nuestros componentes personalizados. Además, hemos refinado animaciones y transiciones para proporcionar una experiencia más suave
              para los desarrolladores.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">¿Qué me pongo?</h5>

            <p class="light">Al utilizar elementos y principios de diseño de materiales, pudimos crear un marco que incorpora componentes y animaciones que proporcionan más retroalimentación a los usuarios. Además, un solo sistema de respuesta subyacente en todas las
              plataformas permite una experiencia de usuario más unificada.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_travel</i></h2>
            <h5 class="center">¿Qué me llevo?</h5>

            <p class="light">Hemos proporcionado documentación detallada, así como ejemplos de código específicos para ayudar a los nuevos usuarios a empezar. También estamos siempre abiertos a la retroalimentación y podemos responder cualquier pregunta que un usuario
              pueda tener sobre Materialise.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¿Te cuesta decidir qué ponerte?</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://trello-attachments.s3.amazonaws.com/59dd13defb8d297e549f44ba/1200x900/cdcdbe72bcb4043a7ce1b8f51e0b8205/%C2%BFQu%C3%A9-me-pongo-hoy-Mejor-elige-tu-ropa-el-d%C3%ADa-anterior-SL1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="wrapper-white white">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
            ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices
            erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¡Hacer la maleta ya no será un problema!</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://trello-attachments.s3.amazonaws.com/59d28f5f79626218b1a21b1d/59dd13defb8d297e549f44ba/fcb67388e34ca3f22641ce973dd2f0e5/maletas.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer red lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="">Raquel500c</a>
      <div>Icons designed by <a class="brown-text text-lighten-3" href="https://www.flaticon.es/autores/sarfraz-shoukat" title="Sarfraz Shoukat">Sarfraz Shoukat</a> from <a  class="brown-text text-lighten-3" href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> with Licence <a class="brown-text text-lighten-3" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div>
</footer>
