<div class="container">
  <form>
    <h2> Signup </h2>
      <div class="input-field col s6">
    <label for="username" data-error="wrong" data-success="right"> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username" class="validate" required/>
  </div>
  <div class="input-field col s6">
    <label for="password" data-error="wrong" data-success="right">Password</label>
    <input type="password" [(ngModel)]="formInfo.password" name="password" class="validate" required/>
  </div>
    <button (click)="signup()" class="waves-effect waves-light btn blue-grey btn-margin" type='submit'>
      SIGNUP
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
